{%- assign settings = section.settings -%}
{%- assign sectionBackgroundColor = settings.background_color -%}
{%- assign sectionBackgroundImage = settings.background_image -%}
{%- if settings.background_image -%}
  {%- assign backgroundImageToken =   sectionBackgroundImage | img_url:'1920x1080'|prepend: "--section-bg-url: url('" |append:"');"-%}
  {%- assign overlayClass = "section--overlay" -%}
  {%- assign bgAttachClass = "section--bg-attch" -%}
  {%- else -%}

{%- endif -%}
{%- assign textColor  = settings.text_color -%}
{%- assign headingColor  = settings.heading_text_color -%}
{%- assign mediaEffect  = settings.media_eff | prepend: 'img__wrapper--' -%}
{%- assign blocks = section.blocks -%}

<section class="section {{overlayClass}} {{bgAttachClass}}" style="{{backgroundImageToken}}; --section-bg-color: {{sectionBackgroundColor}}; --base-text-color: {{textColor}}; --heading-color: {{headingColor}};">
  <div class="section__wrapper container">
    <div class="row">
      <div class="section__header section__header--indented section__header--align col-12 col-md-6">
        <h2 class="section__slogan heading heading--light heading--upper h6">
          a good place to build your startup
        </h2>
        <p class="section__desc desc">
          We make sure to provide the best in class, top notch quality in our design while keeping the bar high to provide pixel perfect design.
        </p>
      </div>
      <div class="section__body block__list col-12 col-md-6">
        {%- for block in blocks -%}
          <div class="col-12">
            <div class="block row">
              <div class="col-2">
                <div class="block__icon block__icon--rounded">
                  {%- if block.settings.icon -%}
                    <img alt="" class="" src="{{block.settings.icon | img_url: 'medium'}}">
                  {%- else -%}
                    <img alt="" class="" src="https://cdn.shopify.com/s/files/1/0335/3526/2856/t/1/assets/1591672062372_128x.png?v=11692692573143458445">
                  {%- endif -%}
                </div>
              </div>
              <div class="block__content col-10">
                <h4 class="block__title heading h4">
                  {{block.settings.title}}
                </h4>
                <p class="block__desc desc">
                  {{block.settings.desc}}
                </p>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Custom Section 3",
  "settings": [
    {
      "id": "background_image",
      "type": "image_picker",
      "label": "Add background image"
    },
    {
      "id":"background_color",
      "type":"color",
      "label": "Select background color",
      "default": "#197BBD"
    },
    {
        "id": "text_color",
        "type":"color",
        "label": "Select text color",
        "default": "#FAFAFA"
    },
    {
        "id": "heading_text_color",
        "type":"color",
        "label": "Select heading color",
        "default": "#FFFFFF"
    }
  ],
  "blocks":[
  {
    "type":"simple_block",
    "name": "Cell",
    "settings": [
    {
        "id": "icon",
        "type":"image_picker",
        "label":"Add icon"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Add title",
      "default": "Write your title here",
      "placeholder": "Write your title here"
    },
    {
      "id": "desc",
      "type": "text",
      "label" : "Add description",
      "default": "Our analyses are based on the actual facts and the market situation concerning your business area.",
      "placeholder": "Our analyses are based on the actual facts and the market situation concerning your business area."
    }
    ]
  }
  ],
  "presets": [
    {
      "category": "custom content",
      "name": "Custom Section 3"
    }
  ],
  "max_blocks": 4
}
{% endschema %}