{%- assign settings = section.settings -%}
{%- assign sectionBackground = settings.background_color -%}

{%- assign textColor  = settings.text_color -%}
{%- assign headingColor  = settings.heading_text_color -%}
{%- assign mediaEffect  = settings.media_eff | prepend: 'img__wrapper--' -%}
{%- assign direction = settings.direction -%}

{%- if direction=='normal' -%}
  {%- else -%}
    {%- assign directionToken = direction |prepend: 'section__body--' -%}
{%- endif -%}

{%- assign blocks = section.blocks -%}

<section id="test-vue" class="section section--horizontal section--split" style="--section-bg: {{sectionBackground}}; --base-text-color: {{textColor}}; --heading-color: {{headingColor}}">
  <renderlessMyComponent></renderlessMyComponent>
  <div class="section__wrapper container">
    <div class="row section__body {{directionToken}}">
      <div class="col-12 col-md-8 section__content">
        <h2 class="section__slogan heading heading--light heading--upper h6">
          a good place to build your startup
        </h2>
        <!-- <div class="blocks__wrapper"> -->
        <div class="block__list row">
          {%- for block in blocks -%}
            <div class="col-12 col-xl-6">
              <div class="block row">
                <div class="col-2">
                  <div class="block__icon">
                    {%- if block.settings.icon -%}
                      <img alt="" class="" src="{{block.settings.icon | img_url: 'medium'}}">
                    {%- else -%}
                      <img alt="" class="" src="https://cdn.shopify.com/s/files/1/0335/3526/2856/t/1/assets/1591672062372_128x.png?v=11692692573143458445">
                      <!-- {{'image'| placeholder_svg_tag:"block__icon placeholder" }} -->
                    {%- endif -%}
                  </div>
                </div>
                <div class="block__content col-10">
                  <h4 class="block__title heading h4">
                    {{block.settings.title}}
                  </h4>
                  <p class="block__desc desc">
                    {{block.settings.desc}}
                  </p>
                </div>
              </div>
            </div>
          {%- endfor -%}

        </div>
        <!-- </div> -->
      </div>
      <div class="col-12 col-md-4 section__media">
        <div class="img__wrapper {{mediaEffect}}">
          <img alt="" class="img section__img" src="https://cdn.shopify.com/s/files/1/0335/3526/2856/t/1/assets/1591620329821_1024x1024.jpg?v=2398402767912678238">
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
"name": "Custom Section 1",
  "class":"shopify-section-vue",
  "settings": [
    {
      "id": "direction",
      "type": "select",
      "label": "Direction",
      "options": [
        {
          "label": "Normal",
          "value": "normal"
        }, {
          "label": "Reverse",
          "value": "reverse"
        }
      ]
    },
    {
      "id":"background_color",
      "type":"color",
      "label": "Select background color",
      "default": "#197BBD"
    },
    {
        "id": "text_color",
        "type":"color",
        "label": "Select text color",
        "default": "#FAFAFA"
    },
    {
        "id": "heading_text_color",
        "type":"color",
        "label": "Select heading color",
        "default": "#FFFFFF"
    },
    {
      "id": "media_eff",
      "type": "select",
      "label": "Select effect on hover",
      "default": "none",
      "options": [
      {
        "label": "no",
        "value": "none"
      },
      {
        "label": "Scaling",
        "value": "hoverscale"
      },
      {
        "label" : "Classic",
        "value" : "classic"
      }]
    }
  ],
  "blocks":[
  {
    "type":"simple_block",
    "name": "Cell",
    "settings": [
    {
        "id": "icon",
        "type":"image_picker",
        "label":"Add icon"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Add title",
      "default": "Write your title here",
      "placeholder": "Write your title here"
    },
    {
      "id": "desc",
      "type": "text",
      "label" : "Add description",
      "default": "Our analyses are based on the actual facts and the market situation concerning your business area.",
      "placeholder": "Our analyses are based on the actual facts and the market situation concerning your business area."
    }
    ]
  }
  ],
  "presets": [
    {
      "category": "custom content",
      "name": "Custom Section 1"
    }
  ],
  "max_blocks": 4
}
{% endschema %}
